@model QNH.Overheid.KernRegister.Beheer.Controllers.MutatiesModel
@{
    ViewBag.Title = Default.ToTasks;
}

@section customstyles
{
    @Styles.Render("~/bundles/fileupload/bootstrap/BasicPlusUI/css")
    <style>
        .form-batch .row {
            margin-bottom: 5px;
        }

        .error {
            color: red;
        }

        select[disabled] {
            background-color: #e4e4e4;
        }

        #MutationZipCodes {
            max-width: 800px;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <h3>Mutatie uploads</h3>

        <strong>Mutaties verwerken voor:</strong>
        <div>
            <input type="checkbox" id="brmo-mutations" checked />
            <label for="brmo-mutations">@Default.BrmoApplication</label>
        </div>
        <div>
            <input type="checkbox" id="cvnhr-mutations" checked />
            <label for="cvnhr-mutations">@Default.ApplicationName</label>
        </div>

        <hr/>
        <h4>Handmatige upload mutatiebestanden</h4>
        @Html.Partial("_BackloadPartial")


        <hr />
        <h4>Laatste logfiles (20 maximaal)</h4>
        <div class="log-files">
            @foreach (var logfile in Model.MutatiesLogFiles.OrderByDescending(s => s).Take(20))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" data-base-url="@Url.Action("DownloadLogFile")" data-href="@Path.GetFileName(logfile)">@Path.GetFileName(logfile)</a>
                    </div>
                </div>
            }
        </div>

        <hr />
        <h4>Download</h4>
        <p>
            Klik op onderstaande link om een csv bestand te downloaden met daarin alle CVnHR inschrijvingen die buiten het mutatieabonnement
            vallen. Periodiek kan deze lijst gebruikt worden om de CVnHR weer helemaal up-to-date te krijgen met het handelsregister.
            Het gebied van het mutatieabonnement kan hieronder geconfigureerd worden door alle postcodecijfers van het mutatieabonnementsgebied
            in te voeren. (Bijvoorbeeld te verkrijgen via: <a href="https://postcode.site/">https://postcode.site/</a>)
        </p>
        <p>
            Gebruik de knop "Download en start process" om deze file direct te uploaden en te verwerken.
        </p>
        <div>
            <button id="Download" class="btn btn-large btn-success"
                    data-url="@Url.Action("DownloadMutatieCsvOutsideArea", "Tasks")">
                Download  alle kvknummers buiten het mutatieabonnement gebied
            </button>

            <button id="DownloadAndProcess" class="btn btn-large btn-warning" 
                    data-url="@Url.Action("DownloadMutatieCsvOutsideAreaAndProcess", "Tasks")">
                Download en start process
            </button>
        </div>

        <br />
        <label><strong>Postcodecijfers voor het gebied van het mutatieabonnement:</strong></label>
        <br />
        <p>Vul hieronder alle postcodecijfers in voor het gebied van het mutatieabonnement, en druk op opslaan.</p>
        <textarea id="MutationZipCodes" cols="180" rows="16" style="text-align:left;" placeholder="Vul hier alle postcodecijfers in.">@string.Join(", ", Model.ZipCodes)</textarea>

        <br />
        <button id="MutationSaveZipcodes" data-url="@Url.Action("SaveZipCodeConfiguration", "Tasks")" class="btn btn-default btn-primary btn-save-config">Opslaan</button>
        <br />
        <a href="@Url.Action("GetZipcodesDrentheGroningenEnAangrezendeGemeenten", "Tasks")" target="_blank">
            Klik hier voor een lijst postcodes van Drenthe+Groningen en aangrenzende gemeenten.
        </a>
    </div>
</div>

<div class="modal hide fade" id="mutatiedialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Verwerkingsstatus .csv</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">Voortgang:</div>
                    <div class="col-sm-8">
                        <div class="progress">
                            <div id="procprogesssuccess" class="progress-bar progress-bar-success" style="width: 0%">
                            </div>
                            <div id="procprogresserror" class="progress-bar progress-bar-danger" style="width: 0%">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">KVK Naam:</div>
                    <div class="col-sm-8">
                        <label id="kvknaam"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Fout/Success/Totaal</div>
                    <div class="col-sm-8">
                        <label id="processStats"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Nieuw/Aangepast/Bestaand</div>
                    <div class="col-sm-8">
                        <label id="storageStats"></label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btnCloseProgress" type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <!-- We use Backloads. bundeling feature to register only those client side javascript and style files of the jQuery File Upload Plugin that are needed  -->
    @Scripts.Render("~/bundles/fileupload/bootstrap/BasicPlusUI/js")

    <!-- Initialize the jQuery File Upload Plugin -->
    <script src="~/Scripts/FileUpload/mutaties.js"></script>
    <script src="~/Scripts/FileUpload/InitializeFileUpload.js"></script>
}
