<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Default.ApplicationName</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/Content/css")
    @RenderSection("customstyles", required: false)
    @Scripts.Render("~/bundles/modernizr")

    @if (SettingsHelper.ShowEnvironmentColor)
    {
        <style>
            .navbar {
                background-color: @SettingsHelper.EnvironmentColor;
                background-image: none;
                border-color: transparent;
            }

            .navbar-inverse .navbar-nav > li > a,
            .navbar-inverse .navbar-brand {
                color: #333;
                text-shadow: none;
            }
        </style>
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top">
        <div class="container" style="position:relative;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Default.HomeButton, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            @if (!AuthorizeSimpleFilter.EnsureAuthenticatedUser || User.Identity.IsAuthenticated)
            {
                var url = Request.Url.AbsolutePath.ToLower();
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsAllowedAllActions(ApplicationActions.ViewKvKData))
                        {
                            <li class="@(url.Contains("/vestiging") && !url.Contains("/search") ? "active" : null)">
                                @Html.ActionLink(Default.SearchApplication, "Index", "Vestiging")
                            </li>
                            <li class="@(url.Contains("/search") ? "active" : null)">
                                @Html.ActionLink(Default.SearchExternal, "Index", "Search")
                            </li>
                        }
                        @if (User.IsAllowedAllActions(ApplicationActions.ManageKvKData))
                        {
                            <li class="@(url.Contains("/inschrijving") ? "active" : null)">
                                @Html.ActionLink(Default.ToApplication, "Index", "Inschrijving")
                            </li>
                        }
                        @if (User.IsAllowedAllActions(ApplicationActions.Crm))
                        {
                            <li class="@(url.Contains("/export") ? "active" : null)">
                                @Html.ActionLink(Default.ToCrm, "Index", "Export")
                            </li>
                        }
                        @if (User.IsAllowedAllActions(ApplicationActions.Brmo) && SettingsHelper.BrmoApplicationEnabled)
                        {
                            <li class="@(url.Contains("/brmo") ? "active" : null)">
                                <a href="@SettingsHelper.BrmoApplicationBaseUrl" target="_blank">@Default.ToBrmo</a>
                            </li>
                        }
                        @if (User.IsAllowedAllActions(ApplicationActions.Admin))
                        {
                            <li class="@(url.Contains("/users") ? "active" : null)">
                                @Html.ActionLink("Gebruikersbeheer", "Index", "Users")
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (AuthorizeSimpleFilter.EnsureAuthenticatedUser && User.Identity.IsAuthenticated)
            {
                <div style="position:absolute; top:5px; right: 1.5em; color:#fff;">
                    @using (Html.BeginForm("logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" style="float:right; color:#fff;">Log off</a>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="left">
                @{
                    var userName = Server.UrlDecode(Request["DisplayUsername"]) ?? User.Identity.Name;
                    if (string.IsNullOrEmpty(userName) && true)
                    {
                        userName = "[unknown user]";
                    }
                }
                &copy; @DateTime.Now.Year - beheerapplicatie @Default.ApplicationName (@SettingsHelper.Environment) - v. @ViewContext.Controller.GetType().Assembly.GetName().Version
                <br />@userName - Moment van raadpleging: @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("nl-NL"))
            </p>
            <p class="right">
                @Html.ActionLink(
                                   linkText: "Sla pagina op als PDF",
                                   actionName: "Index",
                                   controllerName: "Pdf",
                                            routeValues: new { url = Request.Url, fileName = DateTime.Now.ToString("yyyy-MM-dd-HHmmss") + "-" + Default.ApplicationName + ".pdf" },
                                   htmlAttributes: null)
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>