@model QNH.Overheid.KernRegister.Beheer.Controllers.ScheduledTaskManager
@using Microsoft.Win32.TaskScheduler

@{
    ViewBag.Title = "Export to " + Default.CrmApplication;
}

@section customstyles
{
    <style>
        .form-batch .row {
            margin-bottom: 5px;
        }
        .error {
            color: red;
        }
        select[disabled] {
            background-color: #e4e4e4;
        }
    </style>
}

<div>
    <!-- The file upload form used as target for the file upload widget -->
    <div class="row">
        <div class="col-sm-3">
            <h3>@Default.ExportTitle</h3>
            <p>Op deze pagina kunnen de vestigingsgegevens in @Default.CrmApplication geactualiseerd worden met de gegevens uit @Default.ApplicationName.</p>
        </div>
        <div class="col-sm-9">
            <h3>Plan een batchupdate</h3>
            <p>Plan hier de batchupdate van @Default.CrmApplication</p>
            @Html.Partial("_TaskSchedulerPartial", Model)
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datetimepicker")

    @if(!Model.ExecutableProcessDisabled)
    {
        @TaskSchedulerScript.RenderTaskSchedulerScript(Url, Model.Trigger, Model.Trigger == null ? TaskTriggerType.Time : Model.Trigger.TriggerType)
    }
}